{% extends 'base.html' %}

{% block title %}Songs{% end %}

{% block article %}
<section id="_song">
    <form method="POST">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Artist:</label>
                    <input type="text" name="artist" value="{{ song.artist }}" class="form-control" max-length="64" required>
                </div>
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" name="title" value="{{ song.title }}" class="form-control" max-length="128" required>
                </div>
            </div>
            <div class="col-md-3 col-md-push-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div><strong>User:</strong> {{ song.user }}</div>
                        <div><strong>Length:</strong> {{ song.length }}ms</div>
                        <div><strong>Bitrate:</strong> {{ song.bitrate }}kbps</div>
                        <div><strong>Sample rate:</strong> {{ song.samplerate }}Hz</div>
                        <div><strong>Created:</strong> {{ song.created }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            {% module xsrf_form_html() %}
            <a href="/" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> Back
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i> Save
            </button>
            <button type="submit" name="delete" class="btn btn-danger pull-right"
                onclick="return confirm('Do you really want to remove the song?');">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>
        </div>
    </form>
</section>
{% end %}
